### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
#Calculate the number of unique players from the purchase data csv
uniquePlayers = purchase_data["SN"].unique()

totalPlayers = len(uniquePlayers)

totalPlayersDF = pd.DataFrame([(totalPlayers)], columns=["Total Players"])
totalPlayersDF

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Gather information from the purchase data file and store it into variables
uniqueItemsArray = purchase_data["Item ID"].unique()
uniqueItems = len(uniqueItemsArray)
averagePrice = purchase_data["Price"].mean()
totalPurchases = purchase_data["Purchase ID"].count()
totalRevenue = purchase_data["Price"].sum()

#Create a dictionary to house summary information
summaryDicts = [{"Number of Unique Items": uniqueItems, "Average Price of Items": averagePrice, "Total                   Number of Purchases": totalPurchases, "Total Revenue": totalRevenue}]

#Format floats in dictonary to have $ and two decimals
pd.options.display.float_format = "${:,.2f}".format

#Convert summary information into a dataframe
summaryDF = pd.DataFrame(summaryDicts)
summaryDF

,Number of Unique Items,Average Price of Items,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Create dataframe to count number of 'Male', 'Female', and 'Other / Non-Disclosed'
genderCount = purchase_data["Gender"].value_counts()

#Put vales for 'Male', 'Female', and 'Other / Non-Disclosed' into variables 
maleCount = genderCount["Male"]
femaleCount = genderCount["Female"]
nonCount = genderCount["Other / Non-Disclosed"]

#Calculate percentages of Gender
totalCount = maleCount + femaleCount + nonCount

malePercent = (maleCount / totalCount) * 100
femalePercent = (femaleCount / totalCount) * 100
nonPercent = (nonCount / totalCount) * 100

#Format floats in dictionary to have % and two decimals
pd.options.display.float_format = "{:,.2f}%".format

#Create data frame
genderDF = pd.DataFrame([(maleCount, malePercent), (femaleCount, femalePercent), (nonCount, nonPercent)], columns = ['Count', 'Percentage of Players'], index = ['Male', 'Female', 'Other / Non-Disclosed'])
genderDF

                       Count  Percentage of Players
Male                     652                 83.59%
Female                   113                 14.49%
Other / Non-Disclosed     15                  1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Create a data frame for the 'Male' gender
maleDF = purchase_data.loc[purchase_data["Gender"] == "Male", :]

#Pull data from 'Male' data frame for later manipulation
uniqueMaleArray = maleDF["SN"].unique()
uniqueMale = len(uniqueMaleArray)

maleAverage = maleDF["Price"].mean()
maleTotal = maleDF["Price"].sum()
maleTotalAverage = maleTotal / uniqueMale

#Create a data frame for the 'Female' gender
femaleDF = purchase_data.loc[purchase_data["Gender"] == "Female", :]

#Pull data from 'Female' data frame for later manipulation
uniqueFemaleArray = femaleDF["SN"].unique()
uniqueFemale = len(uniqueFemaleArray)

femaleAverage = femaleDF["Price"].mean()
femaleTotal = femaleDF["Price"].sum()
femaleTotalAverage = femaleTotal / uniqueFemale

#Create a data frame for the 'Other / Non-Disclosed' gender
nonDF = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

#Pull data from 'Other / Non-Disclosed' data frame for later manipulation
uniqueNonArray = nonDF["SN"].unique()
uniqueNon = len(uniqueNonArray)

nonAverage = nonDF["Price"].mean()
nonTotal = nonDF["Price"].sum()
nonTotalAverage = nonTotal / uniqueNon

#Change formatting of floats to show in $ with 2 decimal places
pd.options.display.float_format = "${:,.2f}".format

#Create new data frame by combining values calculated above
genderAnalysisDF = pd.DataFrame([(maleCount, maleAverage, maleTotal, maleTotalAverage), 
                                 (femaleCount, femaleAverage, femaleTotal, femaleTotalAverage),
                                 (nonCount, nonAverage, nonTotal, nonTotalAverage)],
                                 columns = ["Purchase Count", "Avg Purchase Price", "Total Purchse                                                                     Price", "Avg Total Purchase Per Person"], index = ['Male', 'Female', 'Other / Non-Disclosed'])
genderAnalysisDF

,Purchase Count,Avg Purchase Price,Total Purchse Price,Avg Total Purchase Per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
#Create data frame for ages less than 10
below10DF = purchase_data.loc[purchase_data["Age"] <= 9, :]

#Find number of users under age 10
below10Unique = below10DF["SN"].unique()
below10Count = len(below10Unique)


#Create data frame for ages 10 to 14
tenTo14DF = purchase_data.loc[((purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14)), :]

#Find number of users ages 10 to 14
tenTo14Unique = tenTo14DF["SN"].unique()
tenTo14Count = len(tenTo14Unique)


#Create data frame for ages 15 to 19
fifteenTo19DF = purchase_data.loc[((purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19)), :]

#Find number of users for ages 15 to 19
fifteenTo19Unique = fifteenTo19DF["SN"].unique()
fifteenTo19Count = len(fifteenTo19Unique)


#Create data frame for ages 20 to 24
twentyTo24DF = purchase_data.loc[((purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24)), :]

#Find number of users for ages 20 to 24
twentyTo24Unique = twentyTo24DF["SN"].unique()
twentyTo24Count = len(twentyTo24Unique)


#Create data frame for ages 25 to 29
twenty5To29DF = purchase_data.loc[((purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29)), :]

#Find number of users ages 25 to 29
twenty5To29Unique = twenty5To29DF["SN"].unique()
twenty5To29Count = len(twenty5To29Unique)


#Create data frame for ages 30 to 34
thirtyTo34DF = purchase_data.loc[((purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34)), :]

#Find number of users for ages 30 to 34
thirtyTo34Unique = thirtyTo34DF["SN"].unique()
thirtyTo34Count = len(thirtyTo34Unique)


#Create data frame for ages 35 to 39
thirty5To39DF = purchase_data.loc[((purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39)), :]

#Find number of users for ages 35 to 39
thirty5To39Unique = thirty5To39DF["SN"].unique()
thirty5To39Count = len(thirty5To39Unique)


#Create data frame for ages 40+
over40DF = purchase_data.loc[purchase_data["Age"] >= 40, :]

#Find number of users for ages 40+
over40Unique = over40DF["SN"].unique()
over40Count = len(over40Unique)


#Calculate percentages of each age group
totalAgeCount = below10Count + tenTo14Count + fifteenTo19Count + twentyTo24Count + twenty5To29Count + thirtyTo34Count +           thirty5To39Count + over40Count

group1Percent = (below10Count / totalAgeCount) * 100
group2Percent = (tenTo14Count / totalAgeCount) * 100
group3Percent = (fifteenTo19Count / totalAgeCount) * 100
group4Percent = (twentyTo24Count / totalAgeCount) * 100
group5Percent = (twenty5To29Count / totalAgeCount) * 100
group6Percent = (thirtyTo34Count / totalAgeCount) * 100
group7Percent = (thirty5To39Count / totalAgeCount) * 100
group8Percent = (over40Count / totalAgeCount) * 100


#Format floats in dictionary to have % and two decimals
pd.options.display.float_format = "{:,.2f}%".format


#Create data frame
ageDemoDF = pd.DataFrame([(below10Count, group1Percent), (tenTo14Count, group2Percent), (fifteenTo19Count, group3Percent), (twentyTo24Count, group4Percent), (twenty5To29Count, group5Percent), (thirtyTo34Count, group6Percent), (thirty5To39Count, group7Percent), (over40Count, group8Percent)], columns = ["Total Count", "Percentage of Players"], index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
ageDemoDF

       Total Count  Percentage of Players
&lt;10             17                  2.95%
10-14           22                  3.82%
15-19          107                 18.58%
20-24          258                 44.79%
25-29           77                 13.37%
30-34           52                  9.03%
35-39           31                  5.38%
40+             12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Pull data from below 10 data frame for later manipulation
below10Purchase = len(below10DF["SN"])
below10Average = below10DF["Price"].mean()
below10Total = below10DF["Price"].sum()
below10TotalAverage = below10Total / below10Count

#Pull data from 10 to 14 data frame for later manipulation
tenTo14Purchase = len(tenTo14DF["SN"])
tenTo14Average = tenTo14DF["Price"].mean()
tenTo14Total = tenTo14DF["Price"].sum()
tenTo14TotalAverage = tenTo14Total / tenTo14Count

# #Pull data from 15 to 19 data frame for later manipulation
fifteenTo19Purchase = len(fifteenTo19DF["SN"])
fifteenTo19Average = fifteenTo19DF["Price"].mean()
fifteenTo19Total = fifteenTo19DF["Price"].sum()
fifteenTo19TotalAverage = fifteenTo19Total / fifteenTo19Count

# #Pull data from 20 to 24 data frame for later manipulation
twentyTo24Purchase = len(twentyTo24DF["SN"])
twentyTo24Average = twentyTo24DF["Price"].mean()
twentyTo24Total = twentyTo24DF["Price"].sum()
twentyTo24TotalAverage = twentyTo24Total / twentyTo24Count

# #Pull data from 25 to 29 data frame for later manipulation
twenty5To29Purchase = len(twenty5To29DF["SN"])
twenty5To29Average = twenty5To29DF["Price"].mean()
twenty5To29Total = twenty5To29DF["Price"].sum()
twenty5To29TotalAverage = twenty5To29Total / twenty5To29Count

# #Pull data from 30 to 34 data frame for later manipulation
thirtyTo34Purchase = len(thirtyTo34DF["SN"])
thirtyTo34Average = thirtyTo34DF["Price"].mean()
thirtyTo34Total = thirtyTo34DF["Price"].sum()
thirtyTo34TotalAverage = thirtyTo34Total / thirtyTo34Count

# #Pull data from 35 to 39 data frame for later manipulation
thirty5To39Purchase = len(thirty5To39DF["SN"])
thirty5To39Average = thirty5To39DF["Price"].mean()
thirty5To39Total = thirty5To39DF["Price"].sum()
thirty5To39TotalAverage = thirty5To39Total / thirty5To39Count

# #Pull data from 40+ data frame for later manipulation
over40Purchase = len(over40DF["SN"])
over40Average = over40DF["Price"].mean()
over40Total = over40DF["Price"].sum()
over40TotalAverage = over40Total / over40Count

#Change formatting of floats to show in $ with 2 decimal places
pd.options.display.float_format = "${:,.2f}".format

#Create summary data frame
ageAnalysisDF = pd.DataFrame([(below10Purchase, below10Average, below10Total, below10TotalAverage),
                (tenTo14Purchase, tenTo14Average, tenTo14Total, tenTo14TotalAverage),
                (fifteenTo19Purchase, fifteenTo19Average, fifteenTo19Total, fifteenTo19TotalAverage),
                (twentyTo24Purchase, twentyTo24Average, twentyTo24Total, twentyTo24TotalAverage),
                (twenty5To29Purchase, twenty5To29Average, twenty5To29Total, twenty5To29TotalAverage),
                (thirtyTo34Purchase, thirtyTo34Average, thirtyTo34Total, thirtyTo34TotalAverage),
                (thirty5To39Purchase, thirty5To39Average, thirty5To39Total, thirty5To39TotalAverage),
                (over40Purchase, over40Average, over40Total, over40TotalAverage)],
                columns = ["Purchase Count", "Avg Purchase Price", "Total Purchse Price", "Avg Total Purchase Per Person"], index =                   ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
ageAnalysisDF

,Purchase Count,Avg Purchase Price,Total Purchse Price,Avg Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
topPlayers = purchase_data["SN"].value_counts().nlargest(5)

players = ['Lisosia93', 'Idastidru52', 'Chamjask73', 'Ira174', 'Iskadarya95']

selectedPlayers = purchase_data[purchase_data["SN"].isin(players)]

selectedPurchaseCount = selectedPlayers["SN"].value_counts()
selectedAverage = selectedPlayers.groupby(["SN"]).mean().loc[:,"Price"]
selectedTotal = selectedPlayers.groupby(["SN"]).sum().loc[:, "Price"]

topPlayersDF = pd.concat([selectedPurchaseCount, selectedAverage, selectedTotal,], axis = 1)
topPlayersDF.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

topPlayersDF

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Iskadarya95               3                   $4.37                $13.10
Chamjask73                3                   $4.61                $13.83

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame