### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [74]:
#Calculate the number of unique players from the purchase data csv
uniquePlayers = purchase_data["SN"].unique()

#Set the number of total players to the length of the uniquePlayers array
totalPlayers = len(uniquePlayers)

#Print out the number of total players
print("Total Players: ", totalPlayers)

Total Players:  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
#Gather information from the purchase data file and store it into variables
uniqueItemsArray = purchase_data["Item ID"].unique()
uniqueItems = len(uniqueItemsArray)
averagePrice = purchase_data["Price"].mean()
totalPurchases = purchase_data["Purchase ID"].count()
totalRevenue = purchase_data["Price"].sum()

#Create a dictionary to house summary information
summaryDicts = [{"Number of Unique Items": uniqueItems, "Average Price of Items": averagePrice, "Total                   Number of Purchases": totalPurchases, "Total Revenue": totalRevenue}]

#Format floats in dictonary to have $ and two decimals
pd.options.display.float_format = "${:,.2f}".format

#Convert summary information into a dataframe
summaryDF = pd.DataFrame(summaryDicts)
summaryDF

,Number of Unique Items,Average Price of Items,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [76]:
#Create dataframe to count number of 'Male', 'Female', and 'Other / Non-Disclosed'
genderCount = purchase_data["Gender"].value_counts()

#Put vales for 'Male', 'Female', and 'Other / Non-Disclosed' into variables 
maleCount = genderCount["Male"]
femaleCount = genderCount["Female"]
otherCount = genderCount["Other / Non-Disclosed"]

#Calculate percentages of Gender
totalCount = maleCount + femaleCount + otherCount

malePercent = (maleCount / totalCount) * 100
femalePercent = (femaleCount / totalCount) * 100
otherPercent = (otherCount / totalCount) * 100

#Format floats in dictionary to have % and two decimals
pd.options.display.float_format = "{:,.2f}%".format

genderDF = pd.DataFrame([(maleCount, malePercent), (femaleCount, femalePercent), (otherCount, otherPercent)], columns = ['Count', 'Percent'], index = ['Male', 'Female', 'Other / Non-Disclosed'])
genderDF

                       Count  Percent
Male                     652   83.59%
Female                   113   14.49%
Other / Non-Disclosed     15    1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [83]:
maleDF = purchase_data.loc[purchase_data["Gender"] == "Male",:]
femaleDF = purchase_data.loc[purchase_data["Gender"] == "Female",:]
otherDF = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58%
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81%
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40%
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75%
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39%
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55%
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94%
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45%
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22%
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33%
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94%
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10%
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18%
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45%
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10%

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame