### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [6]:
#Calculate the number of unique players from the purchase data csv
uniquePlayers = purchase_data["SN"].unique()

#Set the number of total players to the length of the uniquePlayers array
totalPlayers = len(uniquePlayers)

#Print out the number of total players
print("Total Players: ", totalPlayers)

Total Players:  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Gather information from the purchase data file and store it into variables
uniqueItemsArray = purchase_data["Item ID"].unique()
uniqueItems = len(uniqueItemsArray)
averagePrice = purchase_data["Price"].mean()
totalPurchases = purchase_data["Purchase ID"].count()
totalRevenue = purchase_data["Price"].sum()

#Create a dictionary to house summary information
summaryDicts = [{"Number of Unique Items": uniqueItems, "Average Price of Items": averagePrice, "Total                   Number of Purchases": totalPurchases, "Total Revenue": totalRevenue}]

#Format floats in dictonary to have $ and two decimals
pd.options.display.float_format = "${:,.2f}".format

#Convert summary information into a dataframe
summaryDF = pd.DataFrame(summaryDicts)
summaryDF

,Number of Unique Items,Average Price of Items,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#Create dataframe to count number of 'Male', 'Female', and 'Other / Non-Disclosed'
genderCount = purchase_data["Gender"].value_counts()

#Put vales for 'Male', 'Female', and 'Other / Non-Disclosed' into variables 
maleCount = genderCount["Male"]
femaleCount = genderCount["Female"]
nonCount = genderCount["Other / Non-Disclosed"]

#Calculate percentages of Gender
totalCount = maleCount + femaleCount + nonCount

malePercent = (maleCount / totalCount) * 100
femalePercent = (femaleCount / totalCount) * 100
nonPercent = (nonCount / totalCount) * 100

#Format floats in dictionary to have % and two decimals
pd.options.display.float_format = "{:,.2f}%".format

#Create data frame
genderDF = pd.DataFrame([(maleCount, malePercent), (femaleCount, femalePercent), (nonCount, nonPercent)], columns = ['Count', 'Percentage of Players'], index = ['Male', 'Female', 'Other / Non-Disclosed'])
genderDF

                       Count  Percentage of Players
Male                     652                 83.59%
Female                   113                 14.49%
Other / Non-Disclosed     15                  1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Create a data frame for the 'Male' gender
maleDF = purchase_data.loc[purchase_data["Gender"] == "Male", :]

#Pull data from 'Male' data frame for later manipulation
uniqueMaleArray = maleDF["SN"].unique()
uniqueMale = len(uniqueMaleArray)

maleAverage = maleDF["Price"].mean()
maleTotal = maleDF["Price"].sum()
maleTotalAverage = maleTotal / uniqueMale

#Create a data frame for the 'Female' gender
femaleDF = purchase_data.loc[purchase_data["Gender"] == "Female", :]

#Pull data from 'Female' data frame for later manipulation
uniqueFemaleArray = femaleDF["SN"].unique()
uniqueFemale = len(uniqueFemaleArray)

femaleAverage = femaleDF["Price"].mean()
femaleTotal = femaleDF["Price"].sum()
femaleTotalAverage = femaleTotal / uniqueFemale

#Create a data frame for the 'Other / Non-Disclosed' gender
nonDF = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

#Pull data from 'Other / Non-Disclosed' data frame for later manipulation
uniqueNonArray = nonDF["SN"].unique()
uniqueNon = len(uniqueNonArray)

nonAverage = nonDF["Price"].mean()
nonTotal = nonDF["Price"].sum()
nonTotalAverage = nonTotal / uniqueNon

#Change formatting of floats to show in $ with 2 decimal places
pd.options.display.float_format = "${:,.2f}".format

#Create new data frame by combining values calculated above
genderAnalysisDF = pd.DataFrame([(maleCount, maleAverage, maleTotal, maleTotalAverage), 
                                 (femaleCount, femaleAverage, femaleTotal, femaleTotalAverage),
                                 (nonCount, nonAverage, nonTotal, nonTotalAverage)],
                                 columns = ["Purchase Count", "Avg Purchase Price", "Total Purchse                                      Price", "Avg Total Purchase Per Person"], index = ['Male', 'Female',                                   'Other / Non-Disclosed'])
genderAnalysisDF

,Purchase Count,Avg Purchase Price,Total Purchse Price,Avg Total Purchase Per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
below10DF = purchase_data.loc[purchase_data["Age"] <= 9, :]

below10Unique = below10DF["SN"].unique()
below10Count = len(below10Unique)

tenTo14 = purchase_data.loc[((purchase_data["Age"] > 10) & (purchase_data["Age"] <= 14)), :]
tenTo14

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
26,26,Lirtossa84,11,Male,71,Demise,$1.61
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",$3.75
139,139,Lisasi93,13,Male,158,"Darkheart, Butcher of the Champion",$2.45
163,163,Sidap51,11,Male,65,Conqueror Adamantite Mace,$4.24
292,292,Lisasi93,13,Male,70,Hope's End,$1.03
299,299,Lirtossa84,11,Male,164,Exiled Doomblade,$1.63
394,394,Lassassasda30,12,Male,60,Wolf,$3.54
408,408,Raesty92,12,Male,53,Vengeance Cleaver,$2.05
413,413,Siana77,12,Male,93,Apocalyptic Battlescythe,$1.97
449,449,Ethralista69,13,Male,34,Retribution Axe,$2.22
487,487,Raillydeu47,14,Male,93,Apocalyptic Battlescythe,$1.97
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",$4.94
531,531,Lirtirra81,12,Male,143,Frenzied Scimitar,$1.56
539,539,Eosurdru76,11,Male,117,"Heartstriker, Legacy of the Light",$1.79
601,601,Ilastilis78,11,Male,93,Apocalyptic Battlescythe,$1.97
751,751,Lisjaskan36,11,Male,30,Stormcaller,$3.36
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,$3.15
774,774,Jiskjask80,11,Male,92,Final Critic,$4.19

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame